.leaflet_container {
  width: 50vw;
  height: 100vh;
  flex-shrink: 1;
  z-index: 1;
  border-right: 1px gold solid;
}

@media (max-width: 850px) {
  .leaflet_container {
    width: 100vw;
    height: 40vh;
  }
}
